

.container {
   display: flex;
   flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #e0e9f0, #f5f8fa);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    /* transform: translateY(-50%); */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button{
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
  margin-top: 10px;
  }
  




label{
    font-weight: bold;
}