body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #e0e9f0, #f5f8fa);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
 
  width: 100vw;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f0f0f0;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* max-width: 80vw; */
  width: 100%;
  overflow-x: scroll;
  /* overflow-y: scroll; */
 
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}

.pagination button.active {
  background-color: #555;
  color: #fff;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.search-group{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

.search-input{
  flex-basis: 50%;
}
.clear-search{
  margin-top: 0px;
  flex-basis: 20%;

}
}